.DS_Store
.next/
db.sqlite3
media/ 
**/migrations/__init__.py
!delivery/migrations/
!delivery/migrations/__init__.py
**/env
/env
**/.env
**/__pycache__
****/node_modules
**/media
**/static
!staticfiles_build/static
**/templates
**/__pycache__
**/__init__.pyc
**/__init__.pyo
.vercel
